<ul>
			<%  jobs = Job.find(:all, :limit => 10, :order => :last_checked)

							jobs.each do |job| 
				%>
					
					<li><a href='<%= job.url %>'> <%= job.title %></a> 
					at <a href='companies/<%= job.company.id %>'> <%= job.company.name %>
					 </a></li>
				
			<% end  %>

	</ul>