<% content_for :head do %>
<style>
	.sidebar-nav select, input {
		width: 150px;
	}
</style>
<% end %>
<div class="container" style="margin-top:60px;" width='940'>
	<div class="row">
		<div class="span3">
			<div class="well sidebar-nav">
				<form class="">
					<fieldset>
						<div id="techfiltersidebar" class="control-group">
							<label class="control-label" for="techfiltersidebar">Show only technical jobs?</label>
							<div class="controls">
								<p id="technicalFilter"></p>
							</div>
						</div>
						<div id="typefiltersidebar" class="control-group">
							<label class="control-label" for="typefiltersidebar">What kind of position?</label>
							<div class="controls">
								<p id="typeFilter"></p>
							</div>
						</div>
						<div id="titleFiltersidebar" class="control-group">
							<label class="control-label" for="typefiltersidebar">Search by Job Title</label>
							<div class="controls">
								<p id="titleFilter"></p>
							</div>
						</div>
						<div id="companyFiltersidebar" class="control-group">
							<label class="control-label" for="companyFiltersidebar">Search by Company</label>
							<div class="controls">
								<p id="companyFilter"></p>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<!-- end side bar !-->
		</div>
		<div class="span9">
			<h1>Find a job you love at a vetted startup in NYC </h1>
			<br>
		</div>
		<div>
			<%= render :template => "jobs/_table" %>
		</div>
	</div>
</div>
