<% content_for :head do %>
<% end %>
<script>
$(document).ready(function() {	
		$('#jobstable').dataTable(  {
			"sDom": "<'row2'<'span8'l>r>t<'row2'<'span8'i><'span8'>p>",
			"sPaginationType": "bootstrap",
			"iDisplayLength": 10,
			"oLanguage": {
				"sLengthMenu": ""
			}}

			)
			.columnFilter({
				aoColumns:[
				{ sSelector: "#titleFilter",},
				{ type:"select",  sSelector: "#typeFilter" },
				{ type:"select", sSelector: "#technicalFilter" },
				{ sSelector: "#companyFilter" },
				null,
				null,
				null,
				null,
				]}
			);	
		

		$('#companytable').dataTable(
		 {
			"sDom": "<'row'<'span9'l>r>t<'row'<'span9'i><'span9'>p>",
			"sPaginationType": "bootstrap",
			"iDisplayLength": 10,
			"oLanguage": {
				"sLengthMenu": ""
			},

			});
		

	});
</script>
		<div class="span3">
			<%= render  'shared/jobs_filter' %>
		</div>
		<div class="span9">
			<h1>Search Jobs </h1>
			<%= render 'table' %>
			
		</div>
