<% content_for :head do %>
<% end %>
<script>
	</script>
	<div class="row">
		<div class="span3">
			<%= render  'shared/jobs_filter' %>
		</div>
		<div class="span9">
			<h1>Search Jobs </h1>
			<%= render 'table' %>
			
		</div>
	</div>
