<script>
$(document).ready(function() {	
		$('#jobstable').dataTable( {
			"sDom": "<'row'<'span9'l>r>t<'row'<'span9'i><'span9'>p>",
			"sPaginationType": "bootstrap",
			"iDisplayLength": 10,
			"oLanguage": {
				"sLengthMenu": ""
			},
			"aoColumnDefs": [ 

					{ "sWidth": "5%", "aTargets": [ 4 ] } 

					]

		} )
		.columnFilter({aoColumns:[
			{ sSelector: "#titleFilter",},
			{ type:"select",  sSelector: "#typeFilter" },
			{ type:"select", sSelector: "#technicalFilter" },
			{ sSelector: "#companyFilter" },
			null,
			null,
			null,
			]}
		);	

	});
</script>
<div class="row">
		<div class="span4 offset4">
			<h1>Jobs </h1>
	  	</div>
	</div>
	<div class="row">
		<div class="span8">
			<%= render 'table' %>			
		</div>
		<div class="span3 pull-right">
				<h2>Filter Results</h2>
				<%= render  'shared/jobs_filter' %>
				<br>
				<%= render 'shared/sidebar' %>
			</div>			
		</div>
	</div>