

<div class="row">
		<div class="span4 offset4">
			<h1>Jobs </h1>
	  	</div>
	</div>
	<div class="row">
		<div class="span8">
			<%= render 'table' %>			
		</div>
				<%= render 'shared/sidebar' %>
		</div>
	</div>