

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="sidebarcompanies">

  <thead>
    <th>Company</th>
	<th>Delete</th>
  </thead>

<% @saved_companies.each do |saved_company| %>
<tr>
	<td><a href='companies/<%= saved_company.company.id %>'> <%= saved_company.company.name %></a></td>
    <td><%= link_to 'Delete', saved_company, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
<tfoot>
  <th>Job Title</th>
  <th>Delete</th>
<tfoot>

</table>
