<h3>Saved Companies</h3>
<ul>
<% @user.saved_companies.limit(5).order(:created_at).reverse_order.each do |saved_company| %>
<li>
	<a href='companies/<%= saved_company.company.id %>'> <%= saved_company.company.name %></a>
	<span class="delete_button">
    	<%= link_to 'X', saved_company, :confirm => 'Are you sure?', :method => :delete %>
	</span>
</li>
	
<% end %>
</ul>
<%= link_to "see all", saved_companies_path %>