<div class="span9">
<p id="notice"><%= notice %></p>

<h3>
  <b>Company Saved:</b>
  <%= link_to @saved_company.company.name, @saved_company.company %>
</p>
</h3>

<%= link_to 'Edit', edit_saved_company_path(@saved_company) %> |
<%= link_to 'Back', saved_companies_path %>
</div>