	<form class="">
		<fieldset>
						<div id="companyFiltersidebar" class="control-group">
				<label class="control-label" for="companyFilter">Filter by Company Name</label>
				<div class="controls">
					<p id="companyFilter"></p>
				</div>
			</div>

			<div id="techfiltersidebar" class="control-group">
				<label class="control-label" for="techfiltersidebar">by Number of employees</label>
				<div class="controls">
					<p id="employeeFilter"></p>
				</div>
			</div>
			<div id="typefiltersidebar" class="control-group">
				<label class="control-label" for="typefiltersidebar">By Year Founded</label>
				<div class="controls">
					<p id="foundedFilter"></p>
				</div>
			</div>
		</fieldset>
	</form>
<!-- end side bar !-->
