
<!-- end side bar !-->
        <form class="form-inline mini" style="margin-bottom: 0px;">
          <fieldset>
            <div class="row">
              <div class="span3">
                <div class="control-group">
                  <label for="technicalFilter" class="control-label"><h4>technical jobs?</h4></label>
                  <div class="controls">
                    <p id="technicalFilter"></p>
                  </div>
                </div>  
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <div class="control-group">
                  <label for="typeFilter" class="control-label"><h4>internships or jobs?</h4></label>
                  <div class="controls">
                    <p id="typeFilter"></p>
                  </div>
                </div>  
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <div class="control-group">
                  <label for="foundedfilter" class="control-label"><h4>by date founded</h4></label>
                  <div class="controls">
                    <p id="foundedFilter"></p>
                  </div>
                </div>  
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <div class="control-group">
                  <label for="employeeFilter" class="control-label"><h4>by # of employees</h4></label>
                  <div class="controls">
                    <p id="employeeFilter"></p>
                  </div>
                </div>  
              </div>
            </div>
            <div class="row">
              <div class="span3">
                <div class="control-group">
                  <label for="ageFilter" class="control-label"><h4>by time since posted</h4></label>
                  <div class="controls">
                    <p id="ageFilter"></p>
                  </div>
                </div>  
              </div>
            </div>
                      

          </fieldset>
        </form>
<!-- end side bar !-->
