	<form class="">
		<fieldset>
			<div id="techfiltersidebar" class="control-group">
				<label class="control-label" for="techfiltersidebar">Show only technical jobs?</label>
				<div class="controls">
					<p id="technicalFilter"></p>
				</div>
			</div>
			<div id="typefiltersidebar" class="control-group">
				<label class="control-label" for="typefiltersidebar">What kind of position?</label>
				<div class="controls">
					<p id="typeFilter"></p>
				</div>
			</div>
			<div id="titleFiltersidebar" class="control-group">
				<label class="control-label" for="typefiltersidebar">Search by Job Title</label>
				<div class="controls">
					<p id="titleFilter"></p>
				</div>
			</div>
			<div id="companyFiltersidebar" class="control-group">
				<label class="control-label" for="companyFiltersidebar">Search by Company</label>
				<div class="controls">
					<p id="companyFilter"></p>
				</div>
			</div>
		</fieldset>
	</form>
<!-- end side bar !-->
