<div class="sidebar pull-right">
<div class="span3">
    <% if @companies %>
      <h2>Filter Companies</h2>
        <%= render  'shared/companies_filter' %>

       <% end %>
       <% if @jobs %>
             <h2>Filter Jobs</h2>

          <%= render  'shared/jobs_filter' %>
      <% end %>
 <%=  if !user_signed_in?
	 	render "devise/links"
		else
			render :partial => 'saved_companies/sidebartable'  
			
		end

%>
<div id="saved_jobs_sidebar">
<%= if user_signed_in?
	render :partial =>'saved_jobs/sidebartable' 
	end %>
</div>
</span>
</div>