    <% if @companies %>
      <h3>Filter Companies</h3>
        <%= render  'shared/companies_filter' %>

       <% end %>
       <% if @jobs %>
             <h3>Filter Jobs</h3>

          <%= render  'shared/jobs_filter' %>
      <% end %>
 <%=  if !user_signed_in?
	 	render "devise/links"
		else
			render :partial => 'saved_companies/sidebartable'  
			
		end

%>
<div id="saved_jobs_sidebar">
<%= if user_signed_in?
	render :partial =>'saved_jobs/sidebartable' 
	end %>
</div>
</span>
