<div class="sidebar">
<div class="span3">
 <%=  if !user_signed_in?
	 	render "devise/links"
		else
			render :partial => 'saved_companies/sidebartable'  
			
		end

%>
<div id="saved_jobs_sidebar">
<%= if user_signed_in?
	render :partial =>'saved_jobs/sidebartable' 
	end %>
</div>
</span>
</div>