<%= content_for :head do %>
<% end %>
<div class='row'>
	<div class='span8'>
		<h1>StartupNYC.org - Jobs at NYC startups that don't sucks'</h1> 
		
	</div>
	<div class='span4'>
		<%= render :template => "/devise/registrations/new" %>
	</div>

