<div class="span4 well lform">
                    <form class="form-inline" action="http://wbpreview.com/previews/WB02793H5/listings.html">
                        <fieldset>
                            <div class="row">
                                <div class="span4">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">
                                            Job Title
                                        </label>
                                        <div class="controls">
                                            <input type="text" value="" placeholder="Have a job title in mind?" id="focusedInput"
                                            class="input-xlarge">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span2">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">
                                            Jobs or Internships?
                                        </label>
                                        <div class="controls">
                                            <select class="input-medium focused">
                                                <option>
                                                    Any
                                                </option>
                                                <option>
                                                    1
                                                </option>
                                                <option>
                                                    2
                                                </option>
                                                <option>
                                                    3
                                                </option>
                                                <option>
                                                    4
                                                </option>
                                                <option>
                                                    5+
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">
                                            Technical jobs?
                                        </label>
                                        <div class="controls">
                                            <select class="input-medium focused">
                                                <option>
                                                    Show both
                                                </option>
                                                <option>
                                                    Only Technical
                                                </option>
                                                <option>
                                                    Only non-technical
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                              </div>
                                <div class="row">
                                    <div class="span2">
                                        <div class="control-group">
                                            <label for="focusedInput" class="control-label">
                                                Employees:
                                            </label>
                                            <div class="controls">
                                                <select class="input-medium focused">
                                                    <option>
                                                        Any
                                                    </option>
                                                    <option>
                                                        1
                                                    </option>
                                                    <option>
                                                        2
                                                    </option>
                                                    <option>
                                                        3
                                                    </option>
                                                    <option>
                                                        4
                                                    </option>
                                                    <option>
                                                        5+
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span2">
                                        <label for="focusedInput" class="control-label">
                                            Funding
                                        </label>
                                        <div class="controls">
                                            <select class="input-medium focused">
                                                <option>
                                                    Any
                                                </option>
                                                <option>
                                                    Rent
                                                </option>
                                                <option>
                                                    Buy
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span2">
                                        <div class="control-group">
                                            <label for="focusedInput" class="control-label">
                                                Industry
                                            </label>
                                            <div class="controls">
                                                <select class="input-medium focused">
                                                    <option selected="selected" value="">
                                                        No min
                                                    </option>
                                                    <option value="50000">
                                                        50,000
                                                    </option>
                                          
                                                    <option value="">
                                                        No min
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span2">
                                        <label for="focusedInput" class="control-label">
                                            All
                                        </label>
                                        <div class="controls">
                                            <select class="input-medium focused">
                                                <option selected="selected" value="">
                                                    No min
                                                </option>
                                                <option value="50000">
                                                    50,000
                                                </option>
                                              
                                                <option value="3000000">
                                                    3,000,000
                                                </option>
                                                <option value="">
                                                    No min
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="span2 pull-right" style="margin-top: 10px;">
                                    <button class="btn btn-primary pull-right" type="submit">
                                        Search
                                    </button>
                                </div>
                                           </div>

                </fieldset>
                </form>
</div>
            <div class="span7 home_carousel no_margin_left pull-right">
                <!-- Start slideshow-carousel -->
                <div id="carousel-loader" style="display: none; ">
                </div>
                <div id="carousel" class="showcase" style="display: block; width: 590px; ">
                    <div style="overflow: hidden; position: relative; " class="showcase-content-container">
                    </div>
                    <div class="showcase-arrow-next" style="display: none; ">
                    </div>
                    <div class="showcase-arrow-previous" style="display: none; ">
                    </div>
                    <div style="overflow: hidden; position: relative; height: 326px; " class="showcase-content-container">
                        <div id="showcase-content-2" style="overflow: hidden; position: absolute; width: 590px; height: 326px; left: 0px; "
                        class="showcase-content">
                            <div class="showcase-content">
                                <a href="http://wbpreview.com/previews/WB02793H5/property.html" style=""><img src="http://static2.businessinsider.com/image/50346093ecad042d7600000d-650/foursquare-office-tour.jpg" alt=""></a>
                            </div>
                            <div class="showcase-caption carousel-caption" style="">
                                <a href="http://wbpreview.com/previews/WB02793H5/property.html"><h4>FourSquare</h4>
          <p>5</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // end of slideshow-carousel -->
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <h3>
                    <span>
                        Latest
                    </span>
                    Jobs
                </h3>
                <p>
                                            <%= render "/jobs/latestjobs" %>

                    <a href="http://wbpreview.com/previews/WB02793H5/map_properties.html"
                    class="pull-right">more...</a>
                </p>
            </div>
            <div class="span4">
                <h3>
                    <span>
                        Newest
                    </span>
                    Companies
                </h3>
                <p>
 <%  companies = Company.find(:all, :limit => 10, :order => :id)

                            companies.each do |company| 
                %>
                    
                    <li> <a href='companies/<%= company.id %>'>  <%= company.name %></a> Jobs: <%= company.jobs.count %> </li>
              
                
            <% end  %>                    <a href="http://wbpreview.com/previews/WB02793H5/listings.html" class="pull-right">more...</a>
                </p>
            </div>
            <div class="span4">
                <h3>
                    <span>
                        Featured Jobs
                    </span>
                    
                </h3>
                <p>
                    Sign up for our weekly newsletter and stay up-to-date with the latest
                    offers, and newest products.
                    <a href="http://wbpreview.com/previews/WB02793H5/listings.html" class="pull-right">more...</a>
                </p>
            </div>