		<div class='span9'>
			<br>
			
<%= render 'jobs/search'%>
	
	</div>
<div class='span3'>
	<div class="well sidebar-nav">
		<%= if !user_signed_in?
	    		render :template => "/devise/registrations/new"
			else
				render 'shared/sidebar'
			end
		%>
	</div>	
</div>