		<div class='span8'>
			<h1>Welcome <%= current_user.email %></h1> 
			<br>
			<h2>Your saved jobs</h2>

			<h2>Your saved companies</h2>
			
	</div>
	<div class='span4'>
		<%= if !user_signed_in?
	     render :template => "/devise/registrations/new"
		else
		  render 'saved_companies/sidebartable'
		end
		%>
		<%=  
		render 'saved_jobs/sidebartable'
		%>
		
	</div>

