<!DOCTYPE html>

<head><meta property="og:title" content="StartupNYC.org - Jobs for college students at New York City's hottest startups" /><meta property="og:type" content="company" /><meta property="og:site_name" content="StartupNYC.org" /><meta property="og:url" content="http://www.startupnyc.org/" /><meta property="og:image" content="https://launchrock-assets.s3.amazonaws.com/facebook-files/1MMSI1RM3CWZ8Oj.png" /><meta property="og:description" content="Hey, I think this site would be perfect for you! It's an amazing collection of jobs at some of the coolest companies I've ever seen. You can be employed and not be a suit!"
<title>StartupNYC.org - Jobs for college students and recent graduates at New York City's hottest startups</title>
</head>
<body>
	
<div rel="1T5L4NGD" class="lrdiscoverwidget" data-logo="on" data-background="on" data-share-url="www.startupnyc.org/" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
<div id="footer" style="z-index: 2; position: absolute; top: 0%; left: 0%;"><%= link_to "Sign in", new_session_path(resource_name) %></div>
</div>
</body>

</html>