<div class='span8'>
    <div class="hero-unit">
		<h2 class="landing-text">Jobs at NYC startups</h2>
	    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large">Search Jobs</a></p>
    	 <p><a class="btn btn-info btn-large">Search Companies</a></p>
        
</div>

