<h1>Listing companies</h1>

<table>
  <thead>
  	<% company = @companies.first %>
  	<% company.attributes.each do |key, value| %>
  		<th><%= key %></th>
  	<% end %>
  	<th>edit</th>
  </thead>

	<tbody>
		<% @companies.each do |company | %>
			<tr>
				<% company.attributes.each do |key, value| %>
  				<th><%= value %></th>
  			<% end %>
  			<th><%= link_to "Edit", edit_company_url(company) %></th>
  		</tr>
  	<% end %>
  </tbody>>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
