<div class="span12">
<div class="row">
  <div class="span4">
    <div class="row">
      <div class="span3 well">
        <h3> Filter Companies </h3>
        <%= render 'shared/companies_filter' %>
      </div>
    </div>
  </div>

  <div class="span8">
  	<h1>Listing companies</h1>
  	<%= render 'table' %>
  </div>
</div>
</div>