// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing-text h1 {
	margin-bottom: .65em;

	font-size: 36px;	
	font-weight: 600;
	line-height: 1.5em;
}
	
.landing-text p {
	font-size: 15px;
}
